body{
    padding: auto;
    margin: auto;
    border-top: 10px solid red;
    background-image:  url(./Images/Chitkara_University_pic.jpg) ;
    background-repeat: no-repeat;
    /* background-position: ; */
    background-size: auto 100vh;
}


